{% extends "annotate_base.html" %}
{% load fontawesome %}
{% load staticfiles %}
{% fontawesome_stylesheet %}

{% block scripts %}
<link href="{% static "css/annotator.css" %}" rel="stylesheet"> 

<script>
function verify_account(){
    instaid=$('#instagramID').val();
    profileurl='https://www.instagram.com/'+instaid+'/'
    var exist, public, suspicious=false;

    // check if exist, public, suspicious 
    $.ajax({
    async: true,
    type: "GET",
    global: false,
    dataType: 'html',
    url:profileurl,
    data:{},
    success: function(response){
        var metas=$(response).find("meta").prevObject;
        var responsetext=$(response).text();
        for (let i = 0; i < metas.length; i++) {
            curmeta=metas[i];
            var attr = $(curmeta).attr('name');
            if (typeof attr !== typeof undefined && attr !== false) {
                if(attr=='description'){
                    exist=true;
                    num_followers=$(curmeta).attr('content').split()[0];
                    suspicous=isNaN(num_followers);
                }else{
                    exist=false;
                }
            }
        }
        if(exist){
            userid=responsetext.split("profilePage_")[1].split('"')[0]
            if (responsetext.toLowerCase().indexOf('"is_private":false') >= 0){
                public=true;
            }
            if (responsetext.toLowerCase().indexOf('"is_verified":true') >= 0){
                suspicious=true;
            }
        }
        verify(exist, public, suspicious, userid);
},
error: function(x, s, e){
        verify(false,false, false,'');
}
    
});
}

function verify(exist, public, suspicious,userid){
    if(!exist){
        window.alert("account does not exist")
    }else{
        if(!public){
            window.alert("account is not a public")
        }
        else{
            window.alert("account verified")
            save_account(suspicious, userid);
        }
    }
}

function save_account(suspicious, userid){
    instaid=userid
    $.ajax({
    url:'',
    method: 'POST',
    data: {'instaid':instaid, 'suspicious':suspicious}
    });
    sleep(500).then(()=>{
        window.location.href='../postinfo'
    })
}
</script>
{% endblock %}

{% block content %}
    <h3 class='main_prompt'>Please submit your Instagram User ID.</h3>
    <div class='instruction'>
        <ol>
            <li>Open a new tab or window, get into <b>your</b> Instagram profile page. </li>
            <li>Copy and paste your Instagram ID. </li>
        </ol>
        Click <a type='button' data-toggle="modal" data-target="#instruction_modal" class='textbutton'>here</a> to see how-to. 
    </div>
    <div class="form-group row">
            <div class='col-sm-1'></div>
            <label for="instagramID" class="col-sm-3 col-form-label" style="font-weight: 600;">Instagram User ID</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="instagramID" placeholder="Your Instagram ID">
            </div>
            <div class='col-sm-2'>
                <input type="submit" class="btn btn-primary" value="Verify" onclick='verify_account()' />
            </div>
            <div class='col-sm-3'></div>
    </div>
    <br>
    <p class='notes'>* Note that your instagram account should be a <b>public</b> account.</p>
    <p class='notes'>** Note that your instagram account information will be <b>encrypted</b> and saved securely.</p>
{% endblock %}

{% block instruction_modal_title %}
How to submit your Instagram ID
{% endblock %}

{% block instruction_modal_body %}
<ol>
    <li>Open a new tab or window, get into <b>your</b> Instagram profile page. </li>
    <li>Copy and paste your Instagram ID. </li>
</ol>
<div style='text-align:center;'>
<img class='gifs' src="{% static "media/instruction/get_instaid.gif" %}">
</div>
{% endblock %}
