{% extends "annotate_base.html" %}
{% load fontawesome %}
{% load staticfiles %}
{% fontawesome_stylesheet %}

{% block scripts %}
<link href="{% static "css/annotator.css" %}" rel="stylesheet"> 
{% endblock %}

{% block content %}
{% include 'base/progressbar.html' %}
<div class='row'>
    <div class="col-1" ></div>
    <div class="col-10" >
        <h3 style='margin-top:50px; margin-bottom:10px;'>Select a device that you want to upload images from. </h3>
        <div class='row'>
            <div class='col-6'>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Use Current Device</h5>
                      <p class="card-text">Blah Blah.</p>
                      <a href="../upload/" class="btn btn-primary">Use current device.</a>
                    </div>
                  </div>
            </div>
            <div class='col-6'>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Use other device.</h5>
                      <p class="card-text">Blah Blah.</p>
                      <a href="../otherdevice/" class="btn btn-primary">Use other device.</a>
                    </div>
                  </div>
            </div>        </div>
    </div>
    <div class="col-1"></div>
  
</div>
{% endblock %}