{% extends "annotate_base.html" %}
{% load fontawesome %}
{% load staticfiles %}
{% fontawesome_stylesheet %}

{% block scripts %}
<link href="{% static "css/annotator.css" %}" rel="stylesheet"> 

{% endblock %}

{% block content %}
<div class='row'>
    <div class="col-1" ></div>
        <div class="col-10" >
            <div>
                <h3 style='margin-top:100px; margin-bottom:50px;'>Token to submit</h3>
                <p>{{token}}</p>
                
            </div>
        </div>
    <div class="col-1"></div>
  
</div>
{% endblock %}