{% extends "annotate_base.html" %}
{% load fontawesome %}
{% load staticfiles %}
{% fontawesome_stylesheet %}

{% block scripts %}
<script src="{% static "js/base_annotator.js" %}" type="text/javascript"> </script>
<link href="{% static "css/annotator.css" %}" rel="stylesheet"> 
{% endblock %}

{% block content %}
<div class='row'>
    <div class="col-md-5">
        <div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Post URL</span>
                </div>
                <input type="text" id='post-url' class="form-control" placeholder="Copy and paste url of post that you want to use.">
                <div class="input-group-append">
                    <span class="btn btn-outline-secondary" onclick='get_post()'>Get</span>
                </div>
                </div>
        </div>
    </div>
    <div class="col-md-7">
        <h4>Generate tags related to each context that you would have used in this post. </h4>
    </div>
</div>

<div class='row'>
    <div class="col-md-5" id="post-holder" class="holder">
        <div class='row'>
            <div class='col-md-1'></div>
            <div class='col-md-10'>
                <iframe id='img-holder'src="https://www.instagram.com/p/B5bCUA-gR6B/embed/" style="width:100%; height:525px"></iframe>
            </div>
            <div class='col-md-1'></div>
        </div>
    </div>
    <div class="col-md-7">
        <div id="tag-holder" class="holder">
            <div class='row' style='padding-top:5px;padding-bottom: 5px;'>
                <div class='col-md-2'>
                    <span class='btn btn-success btn-md' style='width:full' >Emotion</span>
                </div>
                <div class='col-md-9'>
                    <input type="text"  class="form-control" placeholder="e.g., #happy, #sad">
                </div>
                <div class='col-md-1'>
                </div>
            </div>
            <div class='row' style='padding-top:5px;padding-bottom: 5px;'>
                    <div class='col-md-2'>
                    <span class='btn btn-success btn-md' style='width:full' >Location</span>
                </div>
                <div class='col-md-9'>
                    <input type="text"  class="form-control" placeholder="e.g., #seoul, #paris">
                </div>
                <div class='col-md-1'>
                </div>
            </div>
            <div class='row' style='padding-top:5px;padding-bottom: 5px;'>
                <div class='col-md-2'>
                    <span class='btn btn-success btn-md' style='width:full' >Time</span>
                </div>
                <div class='col-md-9'>
                    <input type="text"  class="form-control" placeholder="e.g., #spring, #morning">
                </div>
                <div class='col-md-1'>
                </div>
            </div>
            <div class='row' style='padding-top:5px;padding-bottom: 5px;'>
                <div class='col-md-2'>
                    <span class='btn btn-success btn-md' style='width:full' >Object</span>
                </div>
                <div class='col-md-9'>
                    <input type="text"  class="form-control" placeholder="e.g., #car, #tree">
                </div>
                <div class='col-md-1'>
                </div>
            </div>
            <div class='row' style='padding-top:5px;padding-bottom: 5px;'>
                <div class='col-md-2'>
                    <span class='btn btn-success btn-md' style='width:full' >Activity</span>
                </div>
                <div class='col-md-9'>
                    <input type="text"  class="form-control" placeholder="e.g., #eating, #read">
                </div>
                <div class='col-md-1'>
                </div>
            </div>
            <div class='row' style='padding-top:5px;padding-bottom: 5px;'>
                 <div class='col-md-2'>
                        <span class='btn btn-success btn-md' style='width:full' >Event</span>
                    </div>
                    <div class='col-md-9'>
                        <input type="text"  class="form-control" placeholder="e.g., #christmas, #birthday">
                    </div>
                    <div class='col-md-1'>
                    </div>
                </div>
        </div>
        <div id="review-holder" class="holder">
            <h4>Your data will be saved like this.</h4>
            <div class="card">
                    <div class="card-body">
                      [{"context": emotion, "tags-generated": [joy, happy]},<br>
                      {"context": location, "tags-generated": []},<br>
                      {"context": time, "tags-generated": [afternoon]},<br>
                      {"context": object, "tags-generated": []},<br>
                      {"context": activity, "tags-generated": [shopping]},<br>
                      {"context": event, "tags-generated": [farmersmarket]},<br>
                      ]
                    </div>
            </div>
        </div>
    </div>
</div>

<div class='row' id='skeleton-tag-holder' class='tag-holder' style='display:none'>
        <div class='col-md-3 tagtext'><span class='hashtag'>#</span><span id='tag-text'>example tag</span><span class='donotuse'>{% fontawesome_icon 'times' 'fas' %}</span></div>
        <div class='col-md-7'>
                <div style="text-align:center">
                        <div class="btn-group btn-group-toggle buttons" data-toggle="buttons">
                            <label class="btn btn-outline-success btn-sm btn-context">
                                <input type="radio" autocomplete="off" value='Emotion'> Emotion
                            </label>
                            <label class="btn btn-outline-success btn-sm btn-context">
                                    <input type="radio" autocomplete="off" value='Location'> Location
                            </label>
                            <label class="btn btn-outline-success btn-sm btn-context">
                                <input type="radio" autocomplete="off" value='Time'> Time
                            </label>
                            <label class="btn btn-outline-success btn-sm btn-context">
                                    <input type="radio" autocomplete="off" value='Object'> Object
                            </label>
                            <label class="btn btn-outline-success btn-sm btn-context">
                                <input type="radio" autocomplete="off" value='Activity'> Activity
                            </label>
                            <label class="btn btn-outline-success btn-sm btn-context">
                                    <input type="radio" autocomplete="off" value='Event'> Event
                            </label>
                            <label class="btn btn-outline-success btn-sm btn-context">
                                <input type="radio" autocomplete="off" value='Other'> Other
                            </label>
                            <label class="btn btn-outline-success btn-sm btn-context">
                                    <input type="radio" autocomplete="off" value='None'> None
                            </label>
                        </div>
                </div>
        </div>
        <div class='col-md-2' style='padding-left:5px;padding-right:25px;'>
                <input type="text" id='other-context' class="form-control" style='height:30px;padding:2px;display:none;' placeholder="" >
        </div>
    </div>



<div class='row'>
    <div class='col-md-5'>
    </div>
    <div class='col-md-7' stype='padding-right:30px;'>
            <div style="overflow: hidden;">     
                <button type='button' class='btn btn-primary btn-md' id='btn_save' style="float:right;margin-top:3px;" onclick='save()'>Save</button>
            </div>            
    </div>
</div>
{% endblock %}