{% extends "annotate_base.html" %}
{% load fontawesome %}
{% load staticfiles %}
{% fontawesome_stylesheet %}

{% block scripts %}
{% endblock %}

{% block content %}
<div>
    <h5>Userinfo not verified</h5>
    <p>You are not allowed see this page. </p>
    <p>Please click the following link and re-enter your MTurk Worker ID there. </p>
    <p>
        <a class='textbutton' onclick='window.open("http://13.209.68.0:8000/base/");'>http://13.209.68.0:8000/base/</a>
    </p>
    <p>Then refresh this page.</p>
</div>
{% endblock %}