{% extends "annotate_base.html" %}
{% load fontawesome %}
{% load staticfiles %}
{% fontawesome_stylesheet %}

{% block scripts %}
<link href="{% static "css/annotator.css" %}" rel="stylesheet"> 

<script>
var posturls=[];

function add_post(){
    const p=$('#posturl_input').val();
    const posturl = p.split('?')[0];
    append_post(posturl);
}

function append_post(posturl){
    // check if accessible and get user id 
    var accessible = false;
    $.ajax({
        async: true,
        type: "GET",
        global: false,
        dataType: 'html',
        url:posturl,
        data:{},
        success: function(response){
            var metas=$(response).find("meta").prevObject;
            var userid='';
            for (let i = 0; i < metas.length; i++) {
                curmeta=metas[i];
                var attr = $(curmeta).attr('property');
                if (typeof attr !== typeof undefined && attr !== false) {
                    if(attr=='instapp:owner_user_id'){
                        userid=$(curmeta).attr('content');
                        console.log(userid)
                        break;
                    }
                }
            }
            if(userid==''){
                window.alert("inappropriate post")
            }else{
                if (posturls.includes(posturl)){ // check if duplicate w/ posts uploaded in the current page
                    window.alert("no duplicated post allowed")
                }else{
                    // check if this post belongs to the user + check if duplicate w/ previous posts
                    $.ajax({
                        url:'checkpost/',
                        type: "POST",
                        dataType: "json",
                        data:{'userid':userid, 'posturl':posturl},
                        success: function(response){
                            result=response['checkresult'];
                            switch(result){
                                case 'invaliduser':
                                    window.alert("This post is not owned by you");
                                    break;
                                case 'duplicated':
                                    window.alert("This post has been used before. Please use another post.");
                                    break;
                                case 'validuser':
                                    posturls.push(posturl);
                                    render_table();
                                    break;
                            }
                            $('#posturl_input').val('')
                        }
                    });        
                }
            }   
        },
    error: function(){
        window.alert("URL is not valid. ")
        }
     
    });
    }
function render_table(){
    table=$("#post_table tbody");
    table.empty();
    for (var w=0; w<posturls.length; w++){
        posturl=posturls[w];
        table.append(
            "<tr class='postrow'><td>"+ String(w+1) +"</td><td>"+posturl+"<span class='btn trashbtn'><i class='fa fa-trash'></i></span></td></tr>"
        )
    }
    // add deletelistners 
    trashbtns=document.getElementsByClassName('trashbtn');
    for (var w=0; w<trashbtns.length; w++){
        curbtn=trashbtns[w];
        curbtn.addEventListener("click", function(){
            sleep(100).then(()=>{
                targeturl=this.parentNode.innerText;
                for (var i=0;i<posturls.length;i++){
                    if(posturls[i]==targeturl){
                        posturls.splice(i,1);
                    }
                }
                render_table();
            })
    })}
}

function save_posts(){
    if(posturls.length<5){
        window.alert("5 posts needed.")
    }
    else{
        $.ajax({
            url:'addposts/',
            method: 'POST',
            data: {'posturls':JSON.stringify(posturls), 'source':'instagram'},
            success: function(){
                window.location.href='../addtags/1/'; 
            }
        });
    }
      
}
</script>
{% endblock %}

{% block content %}
<div style='text-align: center; padding-bottom:5px;'>
    <button class="btn btn-success btn-sm" type="button" data-toggle="collapse" data-target="#progressbar" aria-expanded="false" aria-controls="progressbar">
      Click to see your progress.
    </button>
</div> 
  <div class='collapse' id='progressbar'>
      <div class='card card-body'>
        <div class='row'>
            <div class='col-md-2'>
                <table class='prog_table'>
                    {% if source == 'upload' %}
                    <tr>
                        <td class='prog_cell current'>Image </td>
                    </tr>
                    <tr>
                        <td class='prog_cell current'>Upload</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class='prog_cell current'>Post </td>
                    </tr>
                    <tr>
                        <td class='prog_cell current'>Selection</td>
                    </tr>
        
                    {% endif %}
                </table>
            </div>
            <div class='col-md-1 prog_next'>>></div>
            <div class='col-md-4'>
                <table class='prog_table'>
                    <tr>
                        <td class='prog_cell' colspan="5">Hashtag Generation</td>
                    </tr>
                    <tr>
                        {% for i in "12345"|make_list %}
                            <td class='prog_cell notyet'># {{i}}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div class='col-md-1 prog_next'>>></div>
            <div class='col-md-4'>
                <table class='prog_table'>
                    <tr>
                        <td class='prog_cell' colspan="5">Context Labeling</td>
                    </tr>
                    <tr>
                        {% for i in "12345"|make_list %}
                        <td class='prog_cell context_notyet'># {{i}}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </div>




<div>
    <h3 class='main_prompt'>Copy and paste URLs of 5 posts that you want to use. </h3>
    <div class='instruction'>
        <ol>
            <li>Choose <b>5 of your Instagram posts</b> that you want to use. </li>
            <li>For each post, copy and paste the URL of the post. </li>
            <li>Click Next button after adding 5 different posts. </li>
        </ol>
        <p>Click <a class='textbutton' data-toggle="modal" data-target="#instruction_modal">here</a> to see how-to. </p>  
        <p class='notes'>* Note that you should use posts that belong to the Instagram account that you submitted in the previous page.</p>
        <p class='notes'>** Note that your instagram post url will be <b>encrypted</b> and saved securely. We do not save Images of the posts. </p>    
    </div>
    <div class='row'>
        <div class='col-md-3'>
        </div>
        <div class='col-md-6'>
            <div class="holder">
                <div>
                <div class="input-group">
                    <div class='input-group-prepend'><span class="input-group-text">Post URL</span>
                    </div>   
                        <input type="text" class="form-control" placeholder="Copy and paste url of post that you want to use." id='posturl_input' aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-info" type="button"  onclick='add_post()'>Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <div class='col-md-3'></div>
    </div>
    <table id="post_table" class="table table-bordered">
        <thead>
            <tr>
            <th>#</th>
            <th>Post URL</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>  
</div>
<div class="row">
    <div class='col-sm-11'></div>
    <div class='col-sm-1'>
        <input type="submit" class="btn btn-primary" value="Next" onclick='save_posts()' />
    </div>
</div>
{% endblock %}
{% block instruction_modal_title %}
How to add Instagram post URLs
{% endblock %}
{% block instruction_modal_body %}
<ol>
    <li>Choose <b>5 of your Instagram posts</b> that you want to use. </li>
    <li>For each post, copy and paste the URL of the post. 
    <div style='text-align:center;'>
        <img class='gifs' src="{% static "media/instruction/add_post.gif" %}">
        </div>
    </li>
    <li>Click Next button after adding 5 different posts
    <div style='text-align:center;'>
        <img class='gifs' src="{% static "media/instruction/next_post.gif" %}">
    </div>
    </li>

</ol>
{% endblock %}
