{% extends "annotate_base.html" %}
{% load fontawesome %}
{% load staticfiles %}
{% fontawesome_stylesheet %}

{% block scripts %}
<link href="{% static "css/annotator.css" %}" rel="stylesheet"> 

<script>
var posturls=[];

function add_post(){
    const p=$('#posturl_input').val();
    const posturl = p.split('?')[0];
    append_post(posturl);
    

}

function append_post(posturl){
    // check if accessible and get user id 
    var accessible = false;
    $.ajax({
        async: true,
        type: "GET",
        global: false,
        dataType: 'html',
        url:posturl,
        data:{},
        success: function(response){
            var metas=$(response).find("meta").prevObject;
            var userid='';
            for (let i = 0; i < metas.length; i++) {
                curmeta=metas[i];
                var attr = $(curmeta).attr('property');
                if (typeof attr !== typeof undefined && attr !== false) {
                    if(attr=='instapp:owner_user_id'){
                        userid=$(curmeta).attr('content');
                        console.log(userid)
                        break;
                    }
                }
            }
            if(userid==''){
                window.alert("inappropriate post")
            }else{
                if (posturls.includes(posturl)){ // check if duplicate w/ posts uploaded in the current page
                    window.alert("no duplicated post allowed")
                }else{
                    // check if this post belongs to the user + check if duplicate w/ previous posts
                    $.ajax({
                        url:'checkpost/',
                        type: "POST",
                        dataType: "json",
                        data:{'userid':userid, 'posturl':posturl},
                        success: function(response){
                            result=response['checkresult'];
                            switch(result){
                                case 'invaliduser':
                                    window.alert("This post is not owned by you");
                                    break;
                                case 'duplicated':
                                    window.alert("This post has been used before. Please use another post.");
                                    break;
                                case 'validuser':
                                    posturls.push(posturl);
                                    render_table();
                                    break;
                            }
                            $('#posturl_input').val('')
                        }
                    });        
                }
            }   
        },
    error: function(){
        window.alert("URL is not valid. ")
        }
     
    });
    }

function render_table(){
    table=$("#post_table tbody");
    table.empty();
    for (var w=0; w<posturls.length; w++){
        posturl=posturls[w];
        table.append(
            "<tr class='postrow'><td>"+ String(w+1) +"</td><td>"+posturl+"<span class='btn trashbtn'><i class='fa fa-trash'></i></span></td></tr>"
        )
    }
    // add deletelistners 
    trashbtns=document.getElementsByClassName('trashbtn');
    for (var w=0; w<trashbtns.length; w++){
        curbtn=trashbtns[w];
        curbtn.addEventListener("click", function(){
            sleep(100).then(()=>{
                targeturl=this.parentNode.innerText;
                for (var i=0;i<posturls.length;i++){
                    if(posturls[i]==targeturl){
                        posturls.splice(i,1);
                    }
                }
                render_table();
            })
    })}
}

function save_posts(){
    if(posturls.length<5){
        window.alert("5 posts needed.")
    }
    else{
        $.ajax({
            url:'addposts/',
            method: 'POST',
            data: {'posturls':JSON.stringify(posturls), 'source':'instagram'},
            success: function(){
                window.location.href='../addtags/1/'; 
            }
        });
    }
      
}
</script>
{% endblock %}

{% block content %}
<!-- 여기도 tag generation 처럼 맨 위에 'add' 버튼 두고, 밑에 table로 올라온거 보여주고, 삭제할 수 잇도록 -->
<!-- 그리고 Next 할 때 갯수 세서, 5개 이상일때만 통과시키기  -->
<div class='row'>
    <div class="col-1" ></div>
        <div class="col-10" >
            <div>
                <h3 style='margin-top:100px; margin-bottom:50px;'>Copy and paste url of post that you want to use.</h3>
                <p>This step verifies whether the post you submitted is 1) accessible and 2) not used before. </p>
                <div class='row'>
                    <div class='col-md-3'>
                    </div>
                    <div class='col-md-6'>
                        <div class="holder">
                            <div>
                            <div class="input-group">
                                <div class='input-group-prepend'><span class="input-group-text">Post URL</span>
                                </div>   
                                 <input type="text" class="form-control" placeholder="Copy and paste url of post that you want to use." id='posturl_input' aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-info" type="button"  onclick='add_post()'>Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class='col-md-3'></div>
                </div>
                <table id="post_table" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Post URL</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>  
            </div>
            <div class="row">
                <div class='col-sm-11'></div>
                <div class='col-sm-1'>
                    <input type="submit" class="btn btn-info" value="Next" onclick='save_posts()' />
                </div>
            </div>

        </div>
    <div class="col-1"></div>
  
</div>
{% endblock %}