{% extends "annotate_base.html" %}
{% load fontawesome %}
{% load staticfiles %}
{% fontawesome_stylesheet %}

{% block scripts %}
{% endblock %}

{% block content %}
        <h3 class='main_prompt'>Select image source that you want to use. </h3>
        <div class='row'>
            <div class='col-5'>
                <div class="card" style="width: 100%">
                    <div class="card-body">
                      <h5 class="card-title" style='text-align: center;'>Photos from Your Instagram</h5>
                      <p class="card-text">
                        You will be requested to share <text class='emph'>five of your instagram posts</text>. Note that your Instagram account should be a <text class='emph'>public one</text>.  
                      </p>
                      <p class="card-text">
                        If you choose to use your Instagram posts, <text style='text-decoration:underline'>you don't need to upload your image and you can use hashtags from the posts</text>. 
                      </p>
                      <p class="card-text">
                        Your Instagram account and post information will be encrypted and saved to protect your privacy.</text>   
                      </p>
                      <div style='text-align: center;'>
                      <a href="./instagram/accountinfo/" class="btn btn-primary">Use Instagram posts</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class='col-2' style='vertical-align: middle; line-height: 100%; text-align: center; padding-top: 100px;'>
              or
            </div>
            <div class='col-5'>
                <div class="card" style="width: 100%; height:100%">
                    <div class="card-body">
                      <h5 class="card-title" style='text-align: center;'>Photos That You Took</h5>
                      <p class="card-text">You will be requested to upload five pictures that you took. Please share photos that people would like to share on their social media.</p>
                      <p class="card-text" style='margin-bottom: 0px;'>Please choose this option</p>
                        <ul>
                          <li> if you don't have a public Instagram account </li>
                            <li>or you don't want to use your own Instagram account and posts.</li>
                        </ul> 
                      <p class="card-text">Note that you should use photos that <text class='emph'>you took, not downloaded from somewhere</text>.</p>
                      <div style='text-align: center;'>
                      <a href="./upload/" class="btn btn-primary">Use photos that I took</a>
                      </div>
                    </div>
                  </div>
            </div>        
        </div>
{% endblock %}