:root {
    --context-default: lightgray;
    --context-selected: #0ea854;
    --context-suggested: #c0dcaf;

    --main-light: #ffc951;
    --main-point: #ff9100;	
}


.topnav {
    height:40px;
    background-color:var(--main-light);
    color:black;	
    padding-top:4px;
    font-size: 20px;
    margin-bottom: 15px;
}

/* containers */

.holder{
    padding:20px;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.img_preview {
  max-width: 75px;
  max-height: 75px;
}

.img_preview_holder{
  float:left;
  width:85px;
}

.gifs{
  width: 500px;
  border:1px solid lightgray;
}




/* Hashtag related */
.tag-holder{
  padding-top: 5px;
  padding-bottom:5px;
}

.tagtext{
    font-size:normal;
    font-weight:400;
}
.donotuse{
    color:red;
    padding-left:5px;
    cursor:pointer;
}
.sticky-right{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    z-index: 100;
}

.hashtag{
  color:blue;
  border-radius: 0.5rem;
  border: 1px solid;
  border-color: blue;
  height: 20px;
  padding:5px;
  margin: 5px;
  display:inline-table;
}

.hashtag-noborder{
  color:blue;
  font-size:18px;
}

.trashbtn{
  color:#ED2939;
  float:right;
}


/* progress bar */ 
.prog_cell{
  width:40px;
  height: 30px;
  text-align: center;
}

.prog_table{
  width:100%;
  outline-style: solid;
  outline-width: 1px;
  outline-color: lightgray;
}

.prog_next{
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
}

.prog_cell.done{
  background-color: #0ea8544E;
}
.prog_cell.current{
  background-color: #0ea854;
}

/* Instruction formatting */
.instruction{
  padding-top:10px;
  padding-bottom: 10px;
}

/* text, prompt formatting  */
.main_prompt{
  margin-top:20px; 
  margin-bottom:20px;
}

.emph{ 
  color:green;
}

.notes{
  font-size:small;
  margin-bottom: 0;
  color: rgb(255, 116, 101);
}

.textbutton{
  color:blue !important;
  text-decoration: underline !important; 
  padding:0px;
  margin:0px;
  background-color: transparent;
}

.btn-context.suggestion.top {
  /* color: white; */
  /* background-color: #1a17b8e0; */
  border-width: 2px;
  font-weight: bold;
  background-color: #17a2b840;

}

.btn-context.suggestion.one {
  /* color: white; */
  border-width: 2px;
  font-weight: bold;
  background-color: #17a2b840;

  /* font-weight: 550; */
}

.btn-context.suggestion.two {
  /* color: white; */
  border-width: 2px;
  background-color: #17a2b840;
  /* border-style: dashed; */

  /* font-weight: 550; */
}

.btn-context.suggestion.three {
  background-color: #17a2b840;
  border-width: 1px;
  border-style: hidden;
  /* color: white; */
}

.btn-context.suggestion:hover {
  color: white;
  background-color: #17a2b8;
  border-color: #17a2b8;
}